.navbar {
	background-color: transparent;
}

.navbar .navbar-nav li a{
	color: black !important;
	font-size: 1.4em !important;
	font-family: sans-serif;
	
	margin-left:10px;
	margin-right:10px;
}

.navbar .navbar-brand {
	color: black !important;
	font-size: 1.4em !important;
	font-family: sans-serif;
	margin-left:10px;
	margin-right:10px;
}